.color-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 7px;
    border: 2px solid black;
    gap: 5px;
    max-width: 40vw;
    margin: 10px 0 0;
}
.color-container div {
    color: black;
    width:auto;
    height: 94px;
    min-width: 94px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: 4px solid black;
}

div[class*="black"]{
    color: white;
    border: 4px solid red;

}
div[data-color^="black"]{
    color: white;
    border: 4px solid red;

}
div[data-color*="blue"]{
    color: lime;
    letter-spacing: 0.04rem;
    font-weight: 500;
    border: 4px solid red;

}
div[data-color^="blue"]{
     color: white;
     border: 4px solid red;
 }
div[data-color^="dim"]{
    color: white;
    border: 4px solid red;
}
div[data-color^="deep"]{
    color: white;
    border: 4px solid black;
}


@media screen and (min-width: 700px) {
    .color-container{
        font-size: 16px;
    }
}
@media screen and (max-width: 700px ){
    .color-container{
        font-size: 12px;
    }
}